@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Oswald');

// Palette
$blue: #61dbfb;
$purple: #764abc;
$gray: #666666;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

header {
  background-size: auto;
  background-repeat: no-repeat;
  height: 250px;
  background-position: center;
  display: flex;
  justify-content: center;
  border-bottom: black solid 3px;
}

h1 {
  bottom: 0;
  font-size: 3rem;
  margin: 0;
  align-self: flex-end;
}

h1 .c1 {
  color: $blue;
  font-family: 'Oswald', sans-serif;
}

h1 .c2 {
  color: $purple;
  font-family: 'Bree Serif', serif;
}

.counter {
  font-size: 3rem;
  color: $gray;
}

.button1,
.button2 {
  background-color: $blue;
  border: 0;
  padding: 1rem;
  font-size: 1rem;
  color: black;
}

.button2 {
  margin-left: 1rem;
  color: white;
  background-color: $purple;
}

.counter {
  cursor: pointer;
}
